<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nextlive">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity android:name=".RegistrazioneActivity"
            android:parentActivityName=".LoginActivity"/>
        <activity
            android:name=".NotificaActivity"
            android:parentActivityName=".SettingsActivity" />
        <activity
            android:name=".RegistrazioneArtistaActivity"
            android:parentActivityName=".SelectUserActivity" />
        <activity
            android:name=".RegistrazioneLocaleActivity"
            android:parentActivityName=".SelectUserActivity" />
        <activity
            android:name=".RegistrazioneFanActivity"
            android:parentActivityName=".SelectUserActivity" />
        <activity
            android:name=".SelectUserActivity"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".LocaliViciniActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ProposteInviateActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LocaliPreferitiActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EventiActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PreferitiActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ChatActivity" />
        <activity
            android:name=".PubblicaEventoActivity"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ModificaPasswordActivity"
            android:parentActivityName=".SettingsActivity" />
        <activity
            android:name=".ChiSiamoActivity"
            android:parentActivityName=".SettingsActivity" />
        <activity
            android:name=".LanguageActivity"
            android:parentActivityName=".SettingsActivity" />
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>